body {
  width: 800px;
  height: 400px;
  background: url(./images/background.jpg) top left no-repeat;
  font-family: sans-serif;
}
.wrapper {
  position: absolute;
  width: 800px;
  top: 275px;
  text-align: center;
}
.signature {
  position: relative;
  display: inline-block;
}
.arrow {
  position: absolute;
  left: -50px;
  top: 50%;
  margin-top: -20px;
}
.avatar-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
.avatar {
  display: block;
  width: 75px;
  height: 75px;
  background-size: cover;
  border-radius: 50%;
}
.outline {
  position: absolute;
  top: -2px;
  left: -8px;
}
.info {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.name {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 4px;
}
.location {
  color: #EFC611;
  font-size: 14px;
}
.spacer {
  display: inline-block;
  vertical-align: middle;
  height: 85px;
}