body {
  width: 800px;
  height: 400px;
  background: url(./images/background.jpg) top left no-repeat;
}
.wrapper {
  position: absolute;
  width: 800px;
  top: 270px;
  border-top: 1px solid #fff;
  text-align: center;
}
.signature {
  position: relative;
  display: inline-block;
}
.arrow {
  position: absolute;
  left: -100px;
  top: 50%;
  margin-top: -10px;
}
.avatar-wrapper {
  display: inline-block;
}
.avatar {
  display: block;
  width: 100px;
  height: 100px;
  background-position: top left;
  background-repeat: no-repeat;
}
.outline {
  position: absolute;
  top: 0;
  left: 0;
}
.info {
  display: inline-block
}